doctype html
html
    head
        link(href="style.css" rel="stylesheet")
        title Space Junk Diner

    body
        header
            nav
                ul
                    each item in config.navi
                        a(href=item[1])
                            div(class="menu_item")
                                li(id=item[1])  #{item[0]}
                    each item in config.menu
                        a(href=item[1])
                            div(class="menu_item")
                                li(id=item[1])  #{item[0]}
        h1 *InsertNamHere*
        block content
        footer *InsertFooterHere*